@import "../lib/mortar/development/less/mixins";

.m-modal-overlay {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	.alphaBackground(black, 0.8);
	display: none;
}

.m-modal {
	display: none;
	.drop-shadow(0, 0px, 5px, 0.5);
	background-color: white;

	position: fixed;
	z-index: 110;

	top: 50%;
	left: 50%;

	width: 500px;

	margin-top: -250px;
	margin-left: -250px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	transition: width 0.50s;
    -webkit-transition: width .50s;
    -moz-transition: width 0.50s;

	.rounded(5px);

	.m-modal-close {
		background: transparent !important;
		position: absolute;
		z-index: 120;
		top: 15px;
		right: 15px;
		padding: 0;
		.opacity(0.5);

		&:hover {
			.opacity(1);	
		}

		i {
			color: black;
			margin: 0;
			font-size: 20px;
			line-height: 20px;
		}
	}

	.m-modal-header, .m-modal-body, .m-modal-footer {
		display: block;
		padding: 15px 15px;

	}

	.m-modal-header {
		border-bottom: 1px solid #eee;
		line-height: 1.5;
		font-size: 18px;
		font-weight: 700;
	}

	.m-modal-body {
		min-height: 50px;
		line-height: 1.5;
		font-size: 14px;
		font-weight: 500;
		padding: 15px 30px;
	}

	.m-modal-footer {
		border-top: 1px solid #eee;
		min-height: 30px;
	}
}