.m-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.m-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 110;
  display: none;
  width: 500px;
  margin-top: -250px;
  margin-left: -250px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: width .50s;
     -moz-transition: width 0.50s;
          transition: width 0.50s;
}

.m-modal .m-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 120;
  padding: 0;
  background: transparent !important;
  -webkit-opacity: 0.5;
   -khtml-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
      filter: alpha(opacity=50);
}

.m-modal .m-modal-close:hover {
  -webkit-opacity: 1;
   -khtml-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      filter: alpha(opacity=100);
}

.m-modal .m-modal-close i {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: black;
}

.m-modal .m-modal-header,
.m-modal .m-modal-body,
.m-modal .m-modal-footer {
  display: block;
  padding: 15px 15px;
}

.m-modal .m-modal-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}

.m-modal .m-modal-body {
  min-height: 50px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.m-modal .m-modal-footer {
  min-height: 30px;
  border-top: 1px solid #eee;
}